<h1>Report a lost pet</h1>

<div class="row justify-content-center">
  <div class="col-6">
    <%= simple_form_for @pet do |f| %>
      <%= f.input :name, placeholder: 'Pet name' %>
      <%= f.input :color, required: true %>
      <%= f.input :species %>
      <%= f.input :where %>
      <%= f.input :found_on %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
